node_modules/

// NEED TO COMPLETE
ASSIGNMENT FROM CONVERTING TO AJAX
AND IN FILE UPLOAD MODULE I NEED TO FIGURE OUT A WAY
WHERE I CAN UPLOAD THE PROFILE PIC, IN SUCH A MANNER THAT
WHEN THERE IS NO AVATAR IN MY STORAGE I CAN TAKE IN THE UPDATE 
REQUEST AND WHEN THERE IS ALREADY ONE AVATAR THEN I NEED TO DELETE THE
EXISTING AVATAR AND UPLOAD THE NEW ONE IN THE LOCAL STORAGE - USING FS NPM MODULE