<link rel="stylesheet" href="/CSS/footer.css">
<footer>
    <h3>Coding Ninjas. All Rights Reserved</h3>
    <ul style="list-style: none;">
        <li><a href="/">Home</a></li>
        <li><a href="/user/profile">Profile</a></li>
    </ul>
</footer>