<link rel="stylesheet" href="CSS/header.css">
<header id="container">
    <h1 id="logo">Codeial</h1>
    <ul id="tags">
        <% if (locals.user) { %>
            <li>
                <a href="/user/profile/<%=user.id%>">
                    <%=user.name%>
                </a>
            </li>
            <li> <a href="/user/sign-out">Sign Out</a></li>

            <% } else { %>
                <li>
                    <a href="/user/sign-in">Sign In</a>
                </li>
                <li>
                    <a href="/user/sign-up">Sign Up</a>
                </li>


                <% } %>
    </ul>


</header>